<!doctype html>
<script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='pretty_print.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
<title>Serviço de reconhecimento facial</title>
<center>
<h1 id="bemvindo">Web Face Recognition</h1>
</center>

<div id="container">
    <center>
        <table>

            </tr>
            <th>Imagem</th>
            <th>Resultado em JSON</th>
            </tr>
            <tr>
                <td>
                    <canvas id="imageCanvas" style="display:none;"></canvas>
                    <img id="canvasImg" alt="carregue uma foto!"></img>
                </td>
                <td>
                    <pre id='resultado'> </pre>
                </td>
            </tr><tr>
                <td>
                    <p id="mensagem"> </p>
                </td>
            </tr>
        </table>
    </center>
</div>

<div>
    <center>
        <input type="file" name="file" id="imageLoader">
        <input type="text" id="imageURL" style="width:600px;" placeholder="Image URL">
        <input type="button" id="searchButton" value="Pesquisar imagem">
    </center>
</div>